## The cost of milk to make cheese
<p>The Coronavirus outbreak has caused major economic disruption. The pandemic's impact on the tourism, travel, and hospitality industries has featured frequently in 2020 news reports, but the economic impact has not been isolated to these industries alone. </p>
<p>The UK dairy industry is one such affected industry and has had to work together to address current market challenges and avoid milk waste. The industry can adapt to the temporary decrease in demand by identifying opportunities for processing the milk into storable products such as butter, cheese, and skimmed milk powder. </p>
<p>The UK Department of Environment, Food, and Rural Affairs has contracted your company to perform a detailed analysis of the UK dairy industry to help them understand the industry's value. </p>
<p>Your team has divided the analysis project into several tasks. One of the tasks is to determine the value of the cheddar cheese industry. The revenue from cheese is much more than, for example, whole milk, but a kilogram of cheese requires almost ten liters of raw milk to make. Your first task is to determine the annual cost of milk needed to produce cheddar cheese over the past five years. </p>
<p>You have been provided with three datasets. <em><strong>Please note that 1000 kg = 1 metric tonne.</strong></em></p>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:16px"><b>datasets/milk_prices.csv - The monthly prices, volume, protein percentage and butterfat percentage of milk </b>
    </div>
Source: <a href="https://environment.data.gov.uk/linked-data/cube/explore?uri=http%3A%2F%2Fenvironment.data.gov.uk%2Flinked-data%2Fcatalog%2Fdatasets%2Fentry%2Fmilk-prices-and-composition-of-milk-annual-statistics&filters-drawer=closed">Defra Data Services Platform</a>
<ul>
    <li><b>Time: </b>The month and year when the value was recorded.</li>
    <li><b>Measure Type: </b>The type of measure recorded.</li>
    <li><b>Price:</b> The price of milk (in Pounds per liter).</li>
    <li><b>Volume:</b> The amount of milk produced (in million liters).</li>
    <li><b>Protein:</b> The protein content of the milk (percentage).</li>
    <li><b>Butterfat:</b> The butterfat content of the milk (percentage).</li>
    <li><b>Unit of Measure:</b> The units specific to the measure type.</li>
</ul>
</div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/Milk_products_production.csv - The monthly production figures of milk, cream and cheddar cheese</b>
    </div>
Source: <a href="https://www.gov.uk/government/statistics/milk-utilisation-by-dairies-in-england-and-wales">GOV.UK</a>
    <ul>
        <li><b>Unnamed: 0: </b>The year and month when the value was recorded.</li>
        <li><b>Liquid Milk Production: </b>The total amount of milk produced (in million liters).</li>
        <li><b>Cream Production: </b>The total amount of cream produced (in million liters).</li>
        <li><b>Cheddar Cheese Production:</b>The total amount of cheddar cheese produced (in thousand tonnes).</li>
    </ul>
</div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">    
    <div style="font-size:16px"><b>datasets/conversion_factors.xls - Liters of milk used to make one kilogram of product</b>
    </div>
Source: <a href="https://www.gov.uk/government/statistics/milk-utilisation-by-dairies-in-england-and-wales">GOV.UK</a>
    <ul>
        <li><b>Product: </b>The type of product.</li>
        <li><b>Conversion factor (litres/kg):</b> Liters of milk used to make one kilogram of product (in liters/kg).</li>
    </ul>
</div>

In [11]:
# Use this cell to begin your analysis, and add as many as you would like!

In [12]:
import pandas as pd

pd.set_option("max_colwidth", 200)

# pd.set_option('display.max_rows', 100) # if you wish to see more rows rather than default, just uncomment this line.
pd.set_option("display.max_columns", 20)
pd.set_option("display.float_format", lambda x: "%.3f" % x)

In [13]:
milk_prices_df = pd.read_csv("datasets/milk_prices.csv")

In [14]:
Milk_products_production_df = pd.read_csv(
    "datasets/Milk_products_production.csv", skiprows=1
)

We have two head columns in this file, so I need to skip row.

In [15]:
conversion_factors_df = pd.read_excel("datasets/conversion_factors.xlsx")

In [16]:
milk_prices_df.head()

      Time Measure type  Price   Volume  Protein  Butterfat   Unit of Measure
0  1986-10        Price  0.170      NaN      NaN        NaN  Pounds per litre
1  2000-04       Volume    NaN 1177.000      NaN        NaN    Million litres
2  1994-12      Protein    NaN      NaN    3.210        NaN        Percentage
3  1997-10        Price  0.208      NaN      NaN        NaN  Pounds per litre
4  2002-10      Protein    NaN      NaN    3.410        NaN        Percentage

Seems like we have mixed data and lots of missing values here

In [17]:
milk_prices_df.sort_values(by="Time")

,Time,Measure type,Price,Volume,Protein,Butterfat,Unit of Measure
974,1970-01,Price,0.041,NaN,NaN,NaN,Pounds per litre
924,1970-02,Price,0.041,NaN,NaN,NaN,Pounds per litre
811,1970-03,Price,0.041,NaN,NaN,NaN,Pounds per litre
785,1970-04,Price,0.037,NaN,NaN,NaN,Pounds per litre
689,1970-05,Price,0.029,NaN,NaN,NaN,Pounds per litre
...,...,...,...,...,...,...,...
1352,2020-10,Volume,NaN,1203.000,NaN,NaN,Million litres
267,2020-11,Butterfat,NaN,NaN,NaN,4.310,Percentage
686,2020-11,Price,0.306,NaN,NaN,NaN,Pounds per litre
1479,2020-11,Volume,NaN,1187.000,NaN,NaN,Million litres
1175,2020-11,Protein,NaN,NaN,3.430,NaN,Percentage

So in this case we only need 'Price' for 'Measure Type' Column

In [18]:
Milk_products_production_df

   Unnamed: 0 Million Litres Million Litres.1 Thousand tonnes
0      Jan-15          571,2             25,7            24,2
1      Feb-15          524,1             22,5            21,3
2      Mar-15          583,0             25,7            26,2
3      Apr-15          542,0             26,4            29,3
4      May-15          571,0             25,6            31,0
..        ...            ...              ...             ...
67     Aug-20          505,3             25,5            27,4
68     Sep-20          499,0             26,0            26,1
69     Oct-20          519,3             27,7            25,6
70     Nov-20          522,3             28,9            25,3
71     Dec-20          530,3             29,8            27,3

[72 rows x 4 columns]

The formats of date between these data frame are different, and they use comma instead of dot in Milk_products_production. We need to correct the format later.

In [19]:
conversion_factors_df

                          Product  Conversion factor (litres/kg)
0             Butter (from Cream)                          2.040
1                         Cheddar                          9.500
2    Other Long Life Territorials                          9.200
3         Short life Territorials                          8.100
4                       Blue vein                          9.100
5                       Mozarella                          9.800
6   Cottage cheese /Fromage frais                          3.600
7                     Soft cheese                          8.000
8            Non-specified cheese                          9.700
9                  Condensed Milk                          2.700
10  Milk Powder (from Whole milk)                          8.500
11   Milk Powder (from Skim milk)                         10.100
12       Milk Powder (from Cream)                         12.300
13             Cream (from cream)                          1.000
14                        Yoghurt                          1.100

Since we are only calculating the cost of Cheddar, we will define this variable and use it later.

In [20]:
liter_per_kg = 9.5

In [21]:
milk_prices_df.isna().sum()

Time                  0
Measure type          0
Price               946
Volume             1244
Protein            1244
Butterfat          1237
Unit of Measure       0
dtype: int64

milk_prices_df has lots of data that we don't need, I'll drop the data with missing Price value first.

In [22]:
milk_prices_df.dropna(subset=["Price"], inplace=True)

In [23]:
Milk_products_production_df.isna().sum()

Unnamed: 0          0
Million Litres      0
Million Litres.1    0
Thousand tonnes     0
dtype: int64

In [24]:
conversion_factors_df.isna().sum()

Product                          0
Conversion factor (litres/kg)    0
dtype: int64

In [25]:
milk_prices_df.head(10)

       Time Measure type  Price  Volume  Protein  Butterfat   Unit of Measure
0   1986-10        Price  0.170     NaN      NaN        NaN  Pounds per litre
3   1997-10        Price  0.208     NaN      NaN        NaN  Pounds per litre
16  2009-11        Price  0.249     NaN      NaN        NaN  Pounds per litre
24  2008-10        Price  0.274     NaN      NaN        NaN  Pounds per litre
26  2019-10        Price  0.294     NaN      NaN        NaN  Pounds per litre
35  1979-03        Price  0.111     NaN      NaN        NaN  Pounds per litre
37  1978-02        Price  0.102     NaN      NaN        NaN  Pounds per litre
40  1989-02        Price  0.176     NaN      NaN        NaN  Pounds per litre
43  1977-12        Price  0.104     NaN      NaN        NaN  Pounds per litre
45  1988-12        Price  0.178     NaN      NaN        NaN  Pounds per litre

Now the milk_prices_df dataframe seems clear right now.

In [26]:
month_map = {
    "Jan": "01",
    "Feb": "02",
    "Mar": "03",
    "Apr": "04",
    "May": "05",
    "Jun": "06",
    "Jul": "07",
    "Aug": "08",
    "Sep": "09",
    "Oct": "10",
    "Nov": "11",
    "Dec": "12",
}

Milk_products_production_df has different format of date, I'll use this dict to format it.

In [27]:
Milk_products_production_df["Time"] = Milk_products_production_df.apply(
    lambda x: "20" + x["Unnamed: 0"][-2:] + "-" + month_map.get(x["Unnamed: 0"][0:3]),
    axis=1,
)

Now Milk_products_production_df has a same Time column as milk_prices_df

In [28]:
Milk_products_production_df["Thousand tonnes"] = Milk_products_production_df[
    "Thousand tonnes"
].str.replace(",", ".")
Milk_products_production_df["Thousand tonnes"] = Milk_products_production_df[
    "Thousand tonnes"
].astype(float)

Replace comma with dot, and set the data type to float. Since we need to calculate with it.

In [29]:
Milk_products_production_df["liter_used"] = (
    Milk_products_production_df["Thousand tonnes"] * 1000 * liter_per_kg
)

Now I got the liter used for every month, we only need to times with price to get the cost.

In [30]:
Milk_products_production_df = Milk_products_production_df.merge(
    milk_prices_df, how="inner", on="Time"
)

In [31]:
Milk_products_production_df["Cost"] = Milk_products_production_df.apply(
    lambda x: x["liter_used"] * x["Price"], axis=1
)

In [32]:
Milk_products_production_df["year"] = Milk_products_production_df.apply(
    lambda x: x["Time"][0:4], axis=1
)

The question is asking us for annual cost, so I create a column for year and group by it

In [33]:
annual_cost = pd.DataFrame(Milk_products_production_df.groupby("year")["Cost"].sum())

In [34]:
annual_cost.index.names = ["Date"]

In [35]:
annual_cost

           Cost
Date
2015 702651.920
2016 666635.425
2017 887977.635
2018 922553.075
2019 896657.880
2020 836934.800

Finished!